<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>Decoded x IBM Cloud Starter Kit</title>
      
      <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  
      <!-- CSS -->
      <link href="styles.css" rel="stylesheet">
      
  </head>

  <body>
     <div class="shadow"></div>
      
      <!-- content starts here -->
      <section>
        <h1>
          <i class="fas fa-lightbulb"></i>
          <br>
          Your app name
        </h1>
        <p>
          Please write a description of your app goes here
        </p> 
        
        <p id="message"><!-- This blank paragraph is populated using JavaScript--></p>
  
      </section>
      <!-- content ends here -->
      
      <!-- Javascript Links -->
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
      <script src="script.js"></script>
  </body>
  
</html>


