<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="https://decoded.com/favicon.ico">
      
      <title>IBM Cloud Starter Kit</title>
      
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
    
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  
      <!-- CSS -->
      <link href="styles.css" rel="stylesheet">
      
  </head>

  <body>
     <div class="shadow"></div>
      
      <!-- content starts here -->
      <section>
        <h1>
          <i class="fas fa-microchip"></i>
          <br>
          Your IoT solution
        </h1>
        <p>
          You are designing a new IoT solution, please write a description of your idea here.
        </p> 
        
        <p class="api"></p>
          
      </section>
      <!-- content ends here -->
      
      <!-- Javascript Links -->
      <script src="js/jquery.min.js"></script>
<!--       <script src="script.js"></script> -->
  </body>
  
</html>


